---
layout: default
team:
- column-size: col-4_sm-12
  background_image: /images/las-flores-co-team-alisa.jpg
  name-team-member: Alisa
  job-title: Founder
- column-size: col-4_sm-12
  background_image: /images/las-flores-co-team-hannah.jpg
  name-team-member: Hannah
  job-title: Sales
- column-size: col-4_sm-12
  background_image: /images/las-flores-co-team-suzie.jpg
  name-team-member: Suzie
  job-title: Quality & Styling
reviews:
- author: Emma
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate atque corrupti dolorum cumque.
  image: /images/las-flores-co-review-emma.jpg
- author: Joshua
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate atque corrupti dolorum cumque.
  image: /images/las-flores-co-review-joshua.jpg
- author: Sylvie
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate atque corrupti dolorum cumque.
  image: /images/las-flores-co-review-sylvie.jpg
- author: Rob
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate atque corrupti dolorum cumque.
  image: /images/las-flores-co-review-rob.jpg
- author: Julie
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate atque corrupti dolorum cumque.
  image: /images/las-flores-co-review-julie.jpg
- author: Jake
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate atque corrupti dolorum cumque.
  image: /images/las-flores-co-review-jake.jpg
---


    <!----------------------------- Header Banner --------------------------->

    <header class="padded-1 grid tall-100 md-tall-80 bg-image-header">
        
        {% include header-nav.html %}
    
        <div class="padded-5 col-12 grid-center">
            <div class="col-9"> 
                <div class="text-center md-bg-white">
                    <h3 class="big-text"> Creating lasting memories </h3>
                    <h2> while keeping <span class="light-text">mother earth happy </span> </h2> 
                    <a href="/bouquets.html" class="button"> Subscribe </a>
                </div>
            </div>
        </div>
    </header>
   
    <!--------------------- Hover grid name and function -------------------->
    <section class="padded-5 tall-70 md-tall-50 bg-white"> 
        <h2 class="text-center"> Meet our team</h2>
        <p class="text-center"> We would love to make your day with our fresh and beautiful bouquets. </p>
        <div class="grid padded-1">
            
            
            {% for item in page.team %}

            <div class="padded-1 sm-padded-l-10 sm-padded-r-10 {{item.column-size}}">
                <div class="hover-container" style="background-image:url('{{item.background_image}}');">
                    <div class="hover-overlay">
                        <div class="text-center hover-inner">
                            <h3> {{item.name-team-member}} </h3>
                            <p> {{item.job-title}} </p>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </section>

    <!------------------------------- Call to action ------------------------>
    <section class="grid-middle text-center padded-5 bg-dark tall-40">
        <div class="col-12"> 
            <h2> Stay in Touch</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod, nesciunt consequatur cupiditate excepturi harum perferendis nulla et tenetur magni! </p>

            <form class="email-signup "action="htps://formspree.io/hello@theflower.co" method="POST">
                <input type="text" name="name" placeholder="Your First Name">
                <input type="e-mail" name="_replyto" placeholder="Your Email">
                <input type="submit" value="Send" class="button">

            </form>
        </div>
    </section>

    <!----------------------- Image banner ------------------------>
    <section class="grid-middle text-center tall-100 md-tall-50 bg-image bg-img-about-banner"> 
        <div class="col-12"> 
            <h3 class="padded-1 white-text big-text font-weight-extra-bold "> Creating lasting memories is our mission </h3>
        </div>
    </section>
    

    <!----------------------  Features section -------------------->
    <section class="grid">
        <div class="padded-5 col-7_md-12-middle tall-30">
            <h2> We use a <span class="light-text"> sustainable </span> crop protection approach. No harmful residues for us. </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae fugit omnis voluptatum esse laboriosam voluptate minima totam facilis, soluta officia eaque obcaecati quis, nisi saepe sit sunt quo ipsa suscipit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eaque cupiditate hic deserunt quam omnis consequuntur vitae aliquid iste dolorem natus deleniti corporis corrupti impedit repellat, ut nemo id eligendi?</p>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat quia atque ratione dolor sint natus, libero necessitatibus aliquid officiis sed. Unde perspiciatis ratione optio, distinctio magni voluptate doloribus tenetur cupiditate.</p>
        </div>

        <div class="bg-image bg-img-about-crop-protection col-5_md-12 tall-30"> </div>

        <div class="bg-image bg-img-about-strong col-5 tall-30 hide-md"> </div>
        
        <div class="padded-5 col-7_md-12-middle tall-30 bg-dark">
            <h2> We only choose the most  <span class="light-text"> beautiful </span> and <span class="light-text"> strong </span> flowers </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae fugit omnis voluptatum esse laboriosam voluptate minima totam facilis. Soluta officia obcaecati quis nisi saepe sit sunt quo ipsa suscipit? Quae fugit omnis voluptatum esse laboriosam voluptate minima totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, libero. Porro dicta laudantium veritatis veniam modi nobis sit. Soluta facere harum optio error eos blanditiis laudantium neque quia quos suscipit.</p>
        </div>
        

        <div class="padded-5 col-7_md-12-middle tall-30">
            <h2> Our flowers come from <span class="light-text"> local  </span> and <span class="light-text"> fair </span>  farmers </span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae fugit omnis voluptatum esse laboriosam voluptate minima totam facilis, soluta officia eaque obcaecati quis, nisi saepe sit sunt quo ipsa suscipit?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio expedita, iste labore sapiente est commodi odit facilis laborum ex doloremque ullam similique laudantium quam impedit delectus dolorum, consequatur minima explicabo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi architecto delectus sit alias voluptatibus repellat? Ea vitae dolorem iusto quaerat omnis, recusandae officiis nihil error. Quas, soluta! Tempore, incidunt officia.</p>
        </div>

        <div class="bg-image bg-img-about-farmer col-5_md-12 tall-30"> </div>

        <div class="bg-image bg-img-about-climate-nuteral col-5_md-12 tall-30 hide-md"> </div>
        
        <div class="padded-5 col-7_md-12-middle tall-30 bg-dark">
            <h2> We are proud to be <span class="light-text"> 100%  climate neutral </span> </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae fugit omnis voluptatum esse laboriosam voluptate minima totam facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea repellendus eligendi ab voluptatem consequatur at provident, eos maiores, illum enim, et officia pariatur. Sequi repellat quaerat ipsum provident illum. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea repellendus eligendi ab voluptatem consequatur at provident, eos maiores, illum enim, et officia pariatur. Sequi repellat quaerat ipsum provident illum.</p>
        </div>
        

    </section>
    
    <!-------------------------------- Reviews  ------------------------------>
    <section class="text-center padded-5 bg-white hide-md">
        <h2> Reviews </h2>
        <div class="slider-container padded-1 dark-text"> 

            {% for item in page.reviews %}
            
            <!---- First Card ----->
            <div class="slider-item text-center">
                <div class="card-review"> 
                    <img src="{{item.image}}" class="profile">
                    <p class="author"> {{item.author}} </p>
                    <p> {{item.description}} </p>
                    <span> ★ ★ ★ ★ ★</span>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>


     <section class="text-center padded-5 bg-white show-md">
        <h2> Reviews </h2>
        <div class="testimonial-slider-container padded-1 dark-text show-md">  
             
            {% for item in page.reviews %}

            <!---- First Card ----->
            <div class="slider-item text-center">
                <div class="card-review"> 
                    <img src="{{item.image}}" class="profile">
                    <p class="author"> {{item.author}} </p>
                    <p> {{item.description}} </p>
                    <span> ★ ★ ★ ★ ★</span>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>