---
layout: default
popup-gallery: true
gallery-background: bg-light
review-background: bg-light
gallery:
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-6.jpg
    name-bouquet: Floral Darling
    price: $36.98
    type: spring
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-2.jpg
    name-bouquet: Heaven Scent
    price: $56.37
    type: winter
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-4.jpg
    name-bouquet: Blossom
    price: $26.31
    type: summer
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-1.jpg
    name-bouquet: Sunrise
    price: $19.56
    type: autumn
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-3.jpg
    name-bouquet: Snow White
    price: $33.56
    type: spring
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-7.jpg
    name-bouquet: Ava Blossom
    price: $10.53
    type: spring
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-5.jpg
    name-bouquet: Gorgeous
    price: $36.98
    type: autumn
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-6.jpg
    name-bouquet: Legend
    price: $25.53
    type: spring
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-4.jpg
    name-bouquet: Carribbean
    price: $19.56
    type: summer
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-2.jpg
    name-bouquet: Breeze
    price: $50.65
    type: winter
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-1.jpg
    name-bouquet: Whintry whites
    price: $22.75
    type: autumn
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-5.jpg
    name-bouquet: Sweet success
    price: $29.54
    type: autumn
reviews:
  - author: Emma
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-emma.jpg
  - author: Joshua
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-joshua.jpg
  - author: Sylvie
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-sylvie.jpg
  - author: Rob
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-rob.jpg
  - author: Julie
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-julie.jpg
  - author: Jake
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-jake.jpg
---

<!----------------------------- Header Banner --------------------------->

<header class="padded-1 grid tall-80 bg-image-header">

  {% include site-header-nav.html %}

  <div class="padded-5 col-12 grid-center">
    <div class="col-12"> 
      <div class="text-center md-bg-white">
        <h3 class="big-text" data-aos="fade-up" data-aos-duration="1000"> Get your fresh & local flowers now </h3>
        <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> Subscribe and <span class="light-text"> save up to $6 </span> per bouquet  </h2>
        <a href="/contact.html" class="button" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> Subscribe </a>
      </div>
    </div>
  </div>
  
</header>


<!------------------------------- Call to action ------------------------>
<section class="grid-middle text-center padded-5 bg-dark tall-40">
  <div class="col-12"> 
    <h2> Stay in Touch</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod, nesciunt consequatur cupiditate excepturi harum perferendis nulla et tenetur magni! </p>

    <form class="email-signup "action="htps://formspree.io/hello@theflower.co" method="POST">
      <input type="text" name="name" placeholder="Your First Name">
      <input type="e-mail" name="_replyto" placeholder="Your Email">
      <input type="submit" value="Send" class="button">
    </form>
  </div>
</section>

<!----------------------------- Gallery Bouquets --------------------------->

<!-- Popup gallery -->

{% if page.popup-gallery == true %}
<section class="padded-5 {{page.gallery-background}}">

  <h2 class="text-center" id="bouquets"> Our Bouquets </h2>
  <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <div class="gallery grid" id="lightgallery">

    {% for item in page.gallery %}

    <a class="{{item.column-size}}" href="{{item.background_image}}" title="{{item.name-bouquet}}"> 
      <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>                  

      <div class="grid-bottom"> 
        <h4 class="col-6"> {{item.name-bouquet}}</h4>
        <h4 class="col-6 text-right"> {{item.price}} </h4>
      </div>
  
    </a>    
    
    {% endfor %}

  </div> 
</section>

{% else %}

<!-- Standard gallery -->

<section class="padded-5 {{page.gallery-background}}">
  <h2 class="text-center"> Our Bouquets </h2>
  <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  
  <div class="gallery grid">
      
      {% for item in page.gallery %}
      <div class="{{item.column-size}}"> 
          <div> 
              <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
                  
              <div class="grid-bottom"> 
                  <h4 class="col-6"> {{item.name-bouquet}}</h4>
                  <h4 class="col-6 text-right"> {{item.price}} </h4>
              </div>
          </div>
      </div>    
  
    {% endfor %}
  </div> 
</section>

{% endif %}

<!-------------------------------- Reviews  ------------------------------>
{% include review.html %}
