---
layout: default
gallery:
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-6.jpg
    name-bouquet: Floral darling
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum. Ipsa eaque aspernatur distinctio recusandae expedita alias maiores
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-2.jpg
    name-bouquet: Heaven Scent
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum. Ipsa eaque aspernatur distinctio recusandae expedita alias maiores
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-4.jpg
    name-bouquet: Blossom
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum. Ipsa eaque aspernatur distinctio recusandae expedita alias maiores
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-1.jpg
    name-bouquet: Sunrise
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum. Ipsa eaque aspernatur distinctio recusandae expedita alias maiores
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-3.jpg
    name-bouquet: Snow White
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum. Ipsa eaque aspernatur distinctio recusandae expedita alias maiores
  - column-size: col-4_md-6
    aspect-ratio: square
    background_image: /images/las-flores-co-gallery-7.jpg
    name-bouquet: Ava Blossom
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum. Ipsa eaque aspernatur distinctio recusandae expedita alias maiores
services:
  - column-size: col-3_md-6
    background_image: /images/las-flores-co-store-small.jpg
    name-service: Store
    description: Check out our magical bouquets at our store 
    follow-link: /contact.html#store
  - column-size: col-3_md-6
    background_image: /images/las-flores-co-subscription-small.jpg
    name-service: Subscription
    description: Your bouquet as often as you like
    follow-link: /services.html#subscription
  - column-size: col-3_md-6
    background_image: /images/las-flores-co-delivery-small.jpg
    name-service: Home Delivery
    description: We deliver your bouquet for when you don't have time
    follow-link: /services.html#delivery
  - column-size: col-3_md-6
    background_image: /images/las-flores-co-workshop-small.jpg
    name-service: Workshops
    description: Learn to make your own masterpieces
    follow-link: /services.html#workshop
---
    <!----------------------------- Header Banner --------------------------->

    <header class="padded-1 grid tall-100 md-tall-80 bg-image-header">
        
        {% include header-nav.html %}
    
        <div class="padded-5 col-12 grid-center">
            <div class="col-9"> 
                <div class="text-center md-bg-white"> 
                    <h3 class="big-text"> Fresh & local </h3>
                    <h2> We make <span class="light-text"> you </span> and <span class="light-text"> mother earth </span> happy </h2>
                    <a href="/bouquets.html" class="button"> Subscribe </a>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------- Call to action ------------------------>
    <section class="grid-middle text-center padded-5 bg-dark tall-40">
        <div class="col-12"> 
            <h2> Stay in Touch</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod, nesciunt consequatur cupiditate excepturi harum perferendis nulla et tenetur magni! </p>

            <form class="email-signup "action="htps://formspree.io/hello@theflower.co" method="POST">
                <input type="text" name="name" placeholder="Your First Name">
                <input type="e-mail" name="_replyto" placeholder="Your Email">
                <input type="submit" value="Send" class="button">
            </form>
        </div>
    </section>

    <!------------------------- Image banner anniversary --------------------------->
    <section class="padded-5 tall-50 grid-middle bg-image bg-img-anniversary bg-fixed">
        <!-- one sentence, so better to put it one heading -->
            <div class="col-9-middle">
                <h3> 
                    We are <span class="light-text"> celebrating</span> our one year anniversary. 
                    <br/> Shop and <span class="light-text"> save 20%</span>. 
                </h3>
            </div>
    </section>

    <!-------------------------------- Gallery  ----------------------------->
  
    <section class="padded-5">
        <h2 class="tall-10 text-center">Latest Creations</h2>
        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi accusantium unde, odio corporis eligendi consequuntur quisquam dignissimos placeat consectetur. Consequuntur fugiat exercitationem mollitia at, sequi minus! Cupiditate vel consequuntur quos!</p>
    
        <div class="slider-container"> 

            {% for item in page.gallery %}

            <div class="slider-item">
                <div class="bg-image-slider bg-img-gallery-1 {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
                <p class="title"> {{item.name-bouquet}} </p>
                <p class="caption text-center"> {{item.description}} </p>
            </div>

            {% endfor %}
       
        </div>
        
        <div class="padded-1 col-12 grid-center">
            <a href="/bouquets.html" class="text-center button uppercase"> More Bouquets </a>
        </div>
    </section> 

    <!------------------------- Testimonial section --------------------------->
    <section class="padded-5 grid tall-40 sm-tall-10 bg-light"> 
        <div class="col-1"> 
            <span class="quote-icon"> &ldquo; </span>
        </div>

        <div class="col-10-middle"> 
            <p class="medium-text font-weight-light text-center"> <span class="bold-text"> A-MAZING </span> </br> Their bouquets are wonderful. They smell like heaven and they last so long. <span class="hide-sm">Also, their team is super kind and always so helpfull.  </span> </p>
            <p class="subtitle text-right white-text padded-r-1"> - A very happy customer </p>
        </div>
        <div class="col-1"> 
            <span class="quote-icon"> &rdquo; </span>
        </div>
    </section>

   

    <!------------------------------- Services  ----------------------------->
    <section class="padded-5 text-center bg-white">

        <h2> Our Services </h2>
        
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati provident, fugit ipsa magnam nihil velit eius maiores excepturi aut nostrum suscipit officiis voluptatum alias ipsam. </p>
        
        <div class="grid-equalHeight padded-1"> 
            
            {% for item in page.services %}

            <div class="padded-05 {{item.column-size}}"> 
                <a href="{{item.follow-link}}" class="clickable-box bg-image" style="background-image: url('{{item.background_image}}');"> 
                    <div class="overlay padded-5"> 
                        <h3> {{item.name-service}}  </h3>
                        <p> {{item.description}}  </p>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div> 
    </section>


    <!----------------------- Image banner ------------------------>
    <section class="grid-middle text-center tall-70 bg-image bg-img-about-banner white-text"> 
        <div class="col-12"> 
            <h3 class="big-text font-weight-extra-bold "> Creating lasting memories is our mission </h3>
            <a href="/about.html" class="button"> Found out more about us </a>
        </div>
    </section>