---
layout: default
review-background: bg-light
newsletter-background: bg-dark
reviews:
  - author: Emma
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-emma.jpg
  - author: Joshua
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-joshua.jpg
  - author: Sylvie
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-sylvie.jpg
  - author: Rob
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-rob.jpg
  - author: Julie
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-julie.jpg
  - author: Jake
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate
      atque corrupti dolorum cumque.
    image: /images/las-flores-co-review-jake.jpg
---

<!----------------------------- Header Banner --------------------------->

<header class="padded-1 grid tall-80 bg-image-header">

    {% include site-header-nav.html %}
  
    <div class="padded-5 col-12 grid-center">
      <div class="col-12"> 
        <div class="text-center md-bg-white">
          <h3 class="big-text" data-aos="fade-up" data-aos-duration="1000"> Get your fresh & local flowers now </h3>
          <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> Subscribe and <span class="light-text"> save up to $6 </span> per bouquet  </h2>
          <a href="/contact.html" class="button" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> Subscribe </a>
        </div>
      </div>
    </div>
    
  </header>
  
  
  <!------------------------------- Call to action - newsletter ------------------------>
  {% include newsletter.html %}
  
  <!----------------------------- Gallery Bouquets --------------------------->
  
  <!----------------------------- Add Shopify code --------------------------->

  <section class="shop padded-5"> 
    <h2 class="text-center" id="bouquets"> Our Bouquets </h2>
    <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div id='collection-component-1627809231410'></div>
  </section>
  
  <!-------------------------------- Reviews  ------------------------------>
  {% include review.html %}