<!-------------------------------- Footer  ------------------------------>
<footer class="grid padded-5 text-center bg-dark show-md"> 
    <div class="padded-5 col-12 grid-center">
       <div class="col-6-middle">
            <div> 
                <a href="/index.html" class="logo">
                    <h2> las flores co </h2>
                </a>
            </div>
            <nav>
                <a href="https://www.facebook.com/lasfloresco">
                    <i class="fab fa-facebook-square padded-r-1 "></i>
                </a>
            
                <a href="https://www.instragram.com/lasfloresco">
                    <i class="fab fa-instagram-square padded-r-1"></i>
                </a>

                <a href="https://www.instragram.com/lasfloresco">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </nav>
            <p class="padded-l-10 padded-r-10"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque ratione enim assumenda aliquam voluptatibus facilis aperiam distinctio iusto.</p>
            <div class="inline text-center">
                <a href="/contact.html" class="button">  Contact us </a>
            </div>
        </div>
    </div>

    <div class="col-6-middle-center"> 
    
    </div>

</footer>

<footer class="padded-5 grid-spaceBetween bg-dark hide-md"> 
    <div class="col-6-bottom"> 
        <a href="/index.html" class="logo">
            <h2> las flores co </h2>
        </a>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque ratione enim assumenda aliquam voluptatibus facilis aperiam distinctio iusto.</p>
    </div>


    <div class="col-5-middle">

        <div class="inline text-right">
            <a href="/contact.html" class="button"> Contact us </a>
        </div>
       
        <nav class="inline text-right"> 
            <a href="tel:#"> 04 555 5555 </a> |
            <a href="mailto:#"> hello@lasflores.co </a> |
            <a href="https://maps.app.goo.gl/fXP2JybURsbHDnxU6"> Populierenlaan 20, 2070 Burcht </a>
        </nav> 

        <nav class="inline text-right ">
            <a href="https://www.facebook.com/lasfloresco">
                <i class="fab fa-facebook-square padded-r-1 "></i>
            </a>
        
            <a href="https://www.instragram.com/lasfloresco">
                <i class="fab fa-instagram-square padded-r-1"></i>
            </a>

            <a href="https://www.instragram.com/lasfloresco">
                <i class="fab fa-youtube-square"></i>
            </a>
        </nav>
    </div>
</footer>